#root {
    height: 100vh;
    overflow: hidden;
}

body {
      background: linear-gradient(135deg, #4d4d4f, #0f0f10);
      
}

.screen {
    height: 100px;
    background-color: black;
    color: white;
    font-size: 48px;
    text-align: right;
    padding: 20px;
    overflow-x: auto;
    word-wrap: break-word;
}

.wrapper {
    width: 360px;
    margin: 50px auto;
    border-radius: 20px;
    background: #000;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
     box-shadow: 
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),  
    8px 8px 20px rgba(0, 0, 0, 0.6),       
    -4px -4px 15px rgba(255, 255, 255, 0.05); 
}

.buttonBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    background-color: #505050;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button.none {
    cursor: unset;
    touch-action: none;
    pointer-events: none;
}

.button.equals,
.button.operator {
    background-color: #ff9500;
    color: white;
}

.button.special {
    background-color: #d4d4d2;
    color: black;
}